    header {
      text-align: center;
      background: url("https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg");
      background-size: cover;
      color: red;
    }
    body {
      margin: 0;
      padding: 0;
    }
    a {
      color: red;
    }
    a:hover {
      color: white;
    }
    h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid red;
      border-radius: 20px;
      width: 150px;
      height: 150px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,1);
    }
    li {
      font-size: 24px;
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    button {
      width: 100px;
      height: 50px;
      border-radius: 20px;
      background-color: blue;
      color: white;
      font-size: 22px;
    }
    button:hover {
      background-color: green;
    }
    h3 {
      color: white;
    }
    p {
      font-size: 20px;
      text-align: justify;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        font-size: 16px;
        padding: 5px;
        display: block;
      }
      h3 {
        font-size: 14px;
      }
      p {
        font-size: 16px;
        text-align: justify;
      }
    }